  <div class="col-md-6">
    <h3>Tuesday, 3 December 2019 (Day 1)</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Getting Started (RM)</td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td>Starting with Python (RR)</td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:30</td>  <td>More Python (RR)</td> </tr>
      <tr> <td>15:00</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:30</td>  <td>The Unix Shell (RM)</td> </tr>
      <tr> <td>16:30</td>  <td>End of Day 1</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Wednesday, 4 December 2019 (Day 2)</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Version control with Git (JT)</td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td>Continuing Python (NN)</td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:30</td>  <td>Yet More Python (NN)</td> </tr>
      <tr> <td>15:00</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:30</td>  <td>Even More Python (NN)</td> </tr>
      <tr> <td>16:30</td>  <td>End of Workshop 
                           (<a href="{{ site.swc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a>)</td> </tr>
    </table>
  </div>
